@import 'variables.scss';
@import 'mixins.scss';

.settings {
  flex-grow: 1;
  width: 100%;

  &__container {
    background-color: $cold-dark-blue;
    height: 0;
    overflow: hidden;
    transition: height $time-mobmenu-expand ease-in-out;

    &--active {
      height: 60px;
    }
  }

  &__text {
    margin: 0;
    padding: 20px;
    text-align: center;
  }
}