@import 'variables.scss';
@import 'mixins.scss';

//| MAIN APP INTERFACE                                                      |//
.app {
  background-color: $cold-dark-blue;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  //: APP HEADER                                                            ://
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $header-padding-xs;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    @media only screen and (min-width: $media-md) {
      padding: $header-padding-md;
  
    }
    
    @media only screen and (min-width: $media-lg) {
      padding: $header-padding-lg;
  
    }
  }
  //: APP LANDING PANEL                                                     ://
  &__landing {
    align-items: flex-start;
    display: flex;
    bottom: 0;
    justify-content: center;
    left: 0;
    padding-top: $burgerBtn-size-xs + ($header-padding-xs * 2);
    position: fixed;
    top: 0;
    transition: width $sidebar-toggle;
    width: 100%;

    @media only screen and (min-width: $media-md) {
      padding-top: $burgerBtn-size-md + ($header-padding-md * 2);
  
      &--onSide {
        width: 50%;
      }
    }

    @media only screen and (min-width: $media-lg) {
      padding-top: $burgerBtn-size-lg + ($header-padding-lg * 2);
  
      &--onSide {
        width: 60%;
      }
    }
  }
  //: APP SIDEBAR                                                             ://
  &__sidebar {
    align-items: center;
    background-color: $cold-darkest-blue;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    overflow: auto;
    position: fixed;
    padding-top: $header-height-xs;
    top: 0;
    transform: translateY(-100%);
    transition: transform $sidebar-toggle, visibility 0s $sidebar-toggle;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    &--visible {
      visibility: visible;
      transform: translateY(0);
      transition: transform $sidebar-toggle, visibility 0s;
    }

    @media only screen and (min-width: $media-md) {

      & {
        padding-top: $header-height-md;
        transform: translateX(100%);
        transition: transform $sidebar-toggle, visibility 0s $sidebar-toggle;
        width: 50%;

        &--visible {
          visibility: visible;
          transform: translateX(0);
          transition: transform $sidebar-toggle, visibility 0s;
        }
      }
    }

    @media only screen and (min-width: $media-lg) {

      & {
        padding-top: $header-height-lg;
        width: 40%;
      }
    }
  }
}