@import 'variables.scss';
@import 'mixins.scss';

.newEntry {
  @include flex-center;
  background-color: $blue-dark-3;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: $header-padding-xs;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity $time-new-entry, visibility 0s $time-new-entry;
  visibility: hidden;
  z-index: 1;

  @media only screen and (min-width: $media-md) {
    padding: $header-padding-md;
  }

  @media only screen and (min-width: $media-lg) {
    padding: $header-padding-lg;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: opacity $time-new-entry, visibility 0s;
  }

  &__container {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "day    day "
    "date   date"
    "tenths ones";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: $tab-maxWidth;
    width: 100%;
  }

  &__day {

  }

  &__date {
    
  }
}