@import 'variables.scss';
@import 'mixins.scss';

.newEntry {
  @include flex-center;
  flex-direction: column;
  background-color: $blue-dark-3;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: $header-height-xs $header-height-xs $header-padding-xs $header-padding-xs;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity $time-new-entry, visibility 0s $time-new-entry;
  visibility: hidden;
  z-index: 1;

  @media only screen and (min-width: $media-md) {
    padding: $header-height-md $header-height-md $header-padding-md $header-padding-md;
  }

  @media only screen and (min-width: $media-lg) {
    padding: $header-height-lg $header-height-lg $header-padding-lg $header-padding-lg;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: opacity $time-new-entry, visibility 0s;
  }

  &__container {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "day    day "
    "date   date"
    "tenths ones";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: $tab-maxWidth;
    width: 100%;
  }

  &__day {
    grid-area: day;
  }

  &__date {
    grid-area: date;

  }

  &__day,
  &__date,
  &__message {
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__day {
    align-self: end;
    font-size: 1.8em;
    grid-area: day;
    text-transform: capitalize;
  }

  &__date {
    align-self: start;
    color: $blue;
    font-size: 1.3em;
    grid-area: date;
  }
}