@import 'variables.scss';
@import 'mixins.scss';

//| WEEK                                                                    |//
.week {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 20px;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s $time-week-slide;
  padding: 0 $layout-xs-sm-padding;


  &--visible {
    visibility: visible;
    animation-fill-mode: forwards;
    transition: visibility 0s;
  }

  &--slide-in-from-left {
    animation: slide-in-from-left $time-week-slide;
  }
  &--slide-out-to-left {
    animation: slide-out-to-left $time-week-slide;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
  &--slide-out-to-right {
    animation: slide-out-to-right $time-week-slide;
    pointer-events: none;
    animation-fill-mode: forwards;
  }
  &--slide-in-from-right {
    animation: slide-in-from-right $time-week-slide;
  }

  &__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    background-color: $cold-blue;
    border-radius: $br-items;
    padding: 5px;
    margin-bottom: 11px;
    height: 50px;
  }

  &__heading {
    line-height: 1;
    margin: 0;
  }

  &__button {
    @include button;
    display: flex;
    fill: $cold-light-blue;
    max-width: 30px;
    padding: 0;
    transition: fill $time-hover-effect;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: inherit;
    }

    &:hover {
      fill: $cold-dark-blue;
    }
  }

  &__svg  {
    fill: inherit;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}