@import 'variables.scss';
@import 'mixins.scss';

.button {
  @include button;
  @include flex-center;
  fill: $blue-light-1;
  transition: fill $button-time-active, transform $button-time-active;
  width: $burgerBtn-size-xs;

  &--newEntry {
    fill: $blue;
  }

  &--burger {
    pointer-events: all;
  }

  &--active {
    transform: rotate(180deg);
  }

  &:hover {
    fill: $blue-light-3;
  }

  &__svg {
    width: 100%;
    pointer-events: none;
  }

  @media only screen and (min-width: $media-md) {
    width: $burgerBtn-size-md;
  }
  
  @media only screen and (min-width: $media-lg) {
    width: $burgerBtn-size-lg;
  }
}