@import 'variables.scss';
@import 'mixins.scss';

//| WEEK                                                                    |//
.card {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: visibility 0s $time-week-slide;
  visibility: hidden;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $tab-offset-xs;
  }

  &--visible {
    animation-fill-mode: forwards;
    transition: visibility 0s;
    visibility: visible;
  }

  &--slide-in-from-left {
    animation: slide-in-from-left $time-week-slide;
  }
  &--slide-out-to-left {
    animation: slide-out-to-left $time-week-slide;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
  &--slide-out-to-right {
    animation: slide-out-to-right $time-week-slide;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
  &--slide-in-from-right {
    animation: slide-in-from-right $time-week-slide;
  }

  &__header {
    align-items: center;
    background-color: $cold-blue;
    border-radius: $br-items;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 1fr auto;
    height: 50px;
    justify-items: center;
    margin-bottom: 10px;
    max-width: $tab-maxWidth;
    min-width: $tab-minWidth;
    padding: 5px;
    width: 100%;
  }

  &__heading {
    line-height: 1;
    margin: 0;
  }

  &__button {
    @include button;
    display: flex;
    fill: $cold-light-blue;
    max-width: 30px;
    padding: 0;
    transition: fill $time-hover-effect;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: inherit;
    }

    &:hover {
      fill: $cold-dark-blue;
    }
  }

  &__svg  {
    fill: inherit;
    height: 100%;
    pointer-events: none;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    max-width: $tab-maxWidth;
    min-width: $tab-minWidth;
    padding: 0;
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {

    & {

      &__container {
        padding: $tab-offset-md;
      }
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      
      &__container {
        padding: $tab-offset-lg;
      }
    }
  }
}