@import 'variables.scss';
@import 'mixins.scss';

.card {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: visibility 0s;
  visibility: hidden;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $tab-offset-xs;
  }

  &--visible {
    animation-fill-mode: forwards;
    visibility: visible;
  }

  &__header {
    align-items: center;
    background-color: $blue;
    border-radius: $br-items;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto 1fr auto;
    height: 50px;
    justify-items: center;
    margin-bottom: 10px;
    max-width: $tab-maxWidth;
    min-width: $tab-minWidth;
    padding: 5px;
    width: 100%;

    &--settings {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    font-size: 1.3em;
    line-height: 1;
    margin: 0;
  }

  &__button {
    @include button;
    display: flex;
    fill: $blue-light-2;
    max-width: 30px;
    padding: 0;
    transition: fill $time-hover-effect;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: inherit;
    }

    &:hover {
      fill: $blue-dark-2;
    }
  }

  &__svg  {
    fill: inherit;
    height: 100%;
    pointer-events: none;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    max-width: $tab-maxWidth;
    min-width: $tab-minWidth;
    padding: 0;
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {

    & {

      &__container {
        padding: $tab-offset-md;
      }
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      
      &__container {
        padding: $tab-offset-lg;
      }
    }
  }
}

.profile {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  max-width: $tab-maxWidth;
  min-width: $tab-minWidth;
  width: 100%;

  &__button {
    @include button;
    @include primaryButton;
    
    &--logOut {

    }

    &--remove {
      background-color: $orange-dark-2;
    }
  }
}

//#region [ HorizonDark ] USER REMOVE

.userRemove {
  background-color: $orange-dark-2;
  bottom: 0;
  display: grid;
  grid-template-areas:
    "cancel "
    "alert  "
    "confirm";
  grid-template-rows: auto 1fr 1fr;
  justify-items: center;
  left: 0;
  overflow: hidden;
  opacity: 0;
  padding: $header-padding-xs;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity $sidebar-toggle, visibility 0s $sidebar-toggle;
  visibility: hidden;

  &--visible {
    opacity: 1;
    transition: opacity $sidebar-toggle, visibility 0s;
    visibility: visible;
  }

  &__alert {
    align-self: end;
    color: $orange-dark-3;
    grid-area: alert;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
  }

  &__cancel {
    @include button;
    @include flex-center;
    fill: $blue-dark-3;
    grid-area: cancel;
    height: $tab-icon-size;
    justify-self: end;
    transform: rotate(45deg);
    width: $tab-icon-size;

    &:hover {
      fill: $orange-dark-3;
    }
  }

  &__confirm {
    @include button;
    @include primaryButton;
    align-self: center;
    background-color: $blue-dark-3;
    box-shadow: 0 2px 4px $orange-dark-3;
    color: $orange-dark-2;
    grid-area: confirm;
    font-size: 1.3em;
    font-weight: 700;

    &:hover {
      background-color: $orange-dark-3;
    }
  }

  &__svg {
    pointer-events: none;
    width: 100%;
  }
    
  @media only screen and (min-width: $media-md) {

    & {
      padding: $header-padding-md;
    }
  }
  
  @media only screen and (min-width: $media-lg) {

    & {
      padding: $header-padding-lg;
    }
  }
}

//#endregion