@import 'variables.scss';
@import 'mixins.scss';

.controls {
  display: grid;
  padding: $header-padding-xs;
  position: fixed;
  right: 0;
  row-gap: $controls-gap-xs;
  top: $burgerBtn-size-xs + ($header-padding-xs * 2);

  &__button {
    @include button;
    @include flex-center;
    fill: $cold-blue;
    width: $burgerBtn-size-xs;
  }

  &__svg {
    pointer-events: none;
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {

    & {
      padding: $header-padding-md;
      row-gap: $controls-gap-md;
      top: $burgerBtn-size-md + ($header-padding-md * 2);
    
      &__button {
        width: $burgerBtn-size-md;
      }
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      padding: $header-padding-lg;
      row-gap: $controls-gap-lg;
      top: $burgerBtn-size-lg + ($header-padding-lg * 2);
    
      &__button {
        width: $burgerBtn-size-lg;
      }
    }
  }
}