@import 'variables.scss';
@import 'mixins.scss';
//| COUNTER                                                                 |//
.counter {
  column-gap: 10px;
  display: grid;
  grid-template-areas:
  "head   head"
  "tenths ones"
  "text   text";
  grid-template-columns: repeat(2, 1fr);
  margin: 0 $header-padding-xs * 2 + $burgerBtn-size-xs;
  max-width: 300px;
  width: 100%;
  align-items: center;
  justify-items: center;

  &__heading {
    grid-area: head;
    text-align: center;
    margin: 0;
  }

  &__text {
    grid-area: text;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.digit {
  @include flex-center;
  margin: 50px 0;
  position: relative;
  width: 100%;
  perspective: 800;
  transform-style: preserve-3d;

  &--tenths {
    grid-area: tenths;
  }

  &--ones {
    grid-area: ones;
  }

  &--overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__svg {
    background-color: $cold-blue;
    border-radius: 10px;
    fill: $cold-dark-blue;
    height: 100%;
    opacity: 1;
    padding: 10px 5px;
    transform: rotateX(0);
    transform-origin: center top;
    width: 100%;

    &--rotated {
      transform: rotateX(270deg);
      opacity: 0;
    }

    &--animateIn {
      transition: opacity 0.5s, transform 1s ease-in-out;
    }

    &--animateOut {
      transition: opacity 0.5s 0.5s, transform 1s ease-in-out;
    }
  }
}