@import 'variables.scss';
@import 'mixins.scss';
//| COUNTER                                                                 |//
.counter {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
}

.digit {
  fill: $cold-blue;
  position: relative;
  width: 100%;

  &--overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}