@import 'variables.scss';
@import 'mixins.scss';
//| COUNTER                                                                 |//
.counter {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 80%;

  &__svg {
    fill: $cold-blue;
    width: 100%;

    border: 1px solid #000;

    &--overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  /* &__counter {
    margin: 0;
    color: $cold-dark-blue;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
  } */
}