@import 'variables.scss';
@import 'mixins.scss';

.edition {
  overflow: hidden;
  width: $cardIcon-size-xs;
  column-gap: $edit-group-col-gap;
  display: grid;
  transition: width $time-edit-buttons;
  position: relative;

  &--archive {
    grid-template-columns: repeat(4, 1fr);

  }

  &--stats {
    grid-template-columns: repeat(2, 1fr);

  }

  &--visible {
    $icons-width: $edit-group-cols * $cardIcon-size-xs;
    $gaps-width: ($edit-group-cols - 1) * $edit-group-col-gap;
    width: $icons-width + $gaps-width;
  }

  &--stats.edition--visible {
    width: 2 * $cardIcon-size-xs + $edit-group-col-gap;
  }

  &__button {
    @include button;
    @include flex-center;
    padding: 0;
    width: $cardIcon-size-xs;
    height: $cardIcon-size-xs;
    fill: $blue-light-2;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity $time-edit-buttons,
      visibility 0s $time-edit-buttons,
      fill 0.1s;

    &--visible {
      visibility: inherit;
      opacity: 1;
      transition:
        opacity $time-edit-buttons,
        visibility 0s,
        fill 0.1s;
    }

    &--edit {
      position: absolute;
    }

    &:hover {
      fill: $blue-light-3;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @media only screen and (min-width: $media-sm) {

    & {
      width: $cardIcon-size-sm;


      &--visible {
        $icons-width: $edit-group-cols * $cardIcon-size-sm;
        $gaps-width: ($edit-group-cols - 1) * $edit-group-col-gap;
        width: $icons-width + $gaps-width;
      }

      &--stats.edition--visible {
        width: 2 * $cardIcon-size-sm + $edit-group-col-gap;
      }

      &__button {
        width: $cardIcon-size-sm;
        height: $cardIcon-size-sm;
      }
    }
  }
}