@import 'variables.scss';
@import 'mixins.scss';

.intro {
  @include flex-center;
  background-color: $blue;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  //display: none;

  &__logo {
    @include flex-center;
    animation:
      introLogo 6s ease-in-out infinite 4s,
      introLogoBounceIn 4s ease-in-out;
    position: relative;
    width: 80%;
    max-width: 600px;
    z-index: -3;
    //display: none;
  }
  
  &__svg {
    fill: $blue-dark-3;
    pointer-events: all;
    width: 100%;
    transform-origin: center center;

    &--color {
      fill: $blue-light-3;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }
  }
}