@import 'variables.scss';
@import 'mixins.scss';
//| COUNTER                                                                 |//
.counter {
  $header-height: $header-padding-xs * 2 + $burgerBtn-size-xs;
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-areas:
  "day     day    "
  "date    date   "
  "tenths  ones   "
  "message message";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto 2fr;
  height: 100%;
  margin: 0 $header-height;
  max-width: 300px;
  width: 100%;
  z-index: 1;

  &__day,
  &__date,
  &__message {
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__day {
    align-self: end;
    font-size: 1.8em;
    grid-area: day;
    text-transform: capitalize;
  }

  &__date {
    align-self: start;
    color: $cold-blue;
    font-size: 1.3em;
    grid-area: date;
  }

  &__message {
    color: $cold-blue;
    grid-area: message;
  }

  @media only screen and (min-width: $media-md) {

    & {
      column-gap: 20px;
      max-width: 350px;

      &__day {
        font-size: 2.5em;

      }

      &__date {
        font-size: 1.8em;
      }

      &__message {
        font-size: 1.3em;
      }
    }    
  }
  
  @media only screen and (min-width: $media-lg) {

    & {
      column-gap: 30px;
      max-width: 400px;

      &__day {
        font-size: 3.5em;

      }

      &__date {
        font-size: 2.5em;
      }

      &__message {
        font-size: 1.5em;
      }
    }
  }
}

.digit {
  @include flex-center;
  position: relative;
  width: 100%;
  perspective: 800;
  transform-style: preserve-3d;

  &--tenths {
    grid-area: tenths;
  }

  &--ones {
    grid-area: ones;
  }

  &--overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__svg {
    background-color: $cold-blue;
    border-radius: 10px;
    fill: $cold-dark-blue;
    height: 100%;
    opacity: 1;
    padding: 10px;
    transform: rotateX(0);
    transform-origin: center top;
    width: 100%;

    &--rotated {
      transform: rotateX(270deg);
      opacity: 0;
    }

    &--animateIn {
      transition: opacity 0.3s, transform 0.6s ease-in-out;
    }

    &--animateOut {
      transition: opacity 0.3s 0.3s, transform 0.6s ease-in-out;
    }
  }

  @media only screen and (min-width: $media-sm) {

    & {

      &__svg {
        padding: 15px;
      }
    }
  }

  @media only screen and (min-width: $media-md) {

    & {

      &__svg {
        padding: 20px;
      }
    }
  }
  
  @media only screen and (min-width: $media-lg) {

    & {

      &__svg {
        padding: 25px;
      }
    }
  }
}