@import 'variables.scss';
@import 'mixins.scss';

//| MAIN APP INTERFACE                                                      |//
.app {
  @include flex-center;
  background-color: $cold-dark-blue;
  height: 100%;
  min-height: 100vh;
  padding: $header-height-xs 0;
  width: 100%;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $header-padding-xs;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    //z-index: 2;
    
    border: 1px solid #000;

    @media only screen and (min-width: $media-md) {
      padding: $header-padding-md;
  
    }
    
    @media only screen and (min-width: $media-lg) {
      padding: $header-padding-lg;
  
    }
  }

  &__container {
    @include flex-center;
    flex-grow: 1;
    width: 60%;
    height: 100%;
    max-width: 1200px;
    flex-direction: column;
    border: 1px solid #000;
  }

  &__button {
    border-radius: 4px;
    padding: 12px;
    min-width: 200px;
    margin-top: 48px;
    color: $cold-light-blue;
    font-size: 0.875rem;
    transition: box-shadow $time-hover-effect, background-color $time-hover-effect;

    &--add {
      font-size: 1.125rem;
      font-weight: bold;
      background-color: $cold-blue;
      color: $cold-darkest-blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      

      &:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
      }
    }

    &--remove {
      margin-bottom: 1rem;

      &:hover {
        background-color: $cold-blue;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////////// GLASS 
.glass {
  @include flex-center;
  position: relative;

  &__svg {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    //max-height: 400px;
  }

  &__fill {
    fill: $cold-blue;
  }

  &__outline {
    fill: none;
    stroke: $cold-light-blue;
    stroke-width: 10px;
  }

  &__counter {
    margin: 0;
    color: $cold-dark-blue;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
  }
}