@import 'variables.scss';
@import 'mixins.scss';

.measure {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;

  &__level {
    align-items: center;
    display: flex;
    visibility: hidden;

    &--visible {
      visibility: visible;
    }
  }

  &__mark {
    background-color: $cold-blue;
    height: 5px;
    width: 5px;

    &--large {
      height: 5px;
      width: 10px;
    }
  }

  &__digit {
    color: $cold-blue;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
    visibility: hidden;

    &--visible {
      visibility: inherit;
    }
  }

  @media only screen and (min-width: $media-md) {

    &__mark {
      width: 10px;
  
      &--large {
        width: 20px;
      }
    }

    &__digit {
      font-size: 1.2em;
    }
  }

  @media only screen and (min-width: $media-lg) {

    &__mark {
      height: 7px;
      width: 15px;
  
      &--large {
        width: 25px;
      }
    }

    &__digit {
      font-size: 1.4em;
    }
  }
}