@import 'variables.scss';
@import 'mixins.scss';

.graph {
  display: flex;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  
  &__measure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__levels {
    width: 100%;
    position: relative;
  }

  //: WATER LEVELS                                                          ://
  &__level {
    border-bottom: 3px dashed $cold-light-blue;
    left: 10px;
    position: absolute;
    right: 0;
    transition: bottom $verticalTranslation;
  
    &--avg {
      color: $cold-blue;
      border-color: $cold-blue;
    }
  
    &--min {
      
    }

    @media only screen and (min-width: $media-md) {
  
      border-width: 4px;
    }

    @media only screen and (min-width: $media-lg) {
  
      border-width: 5px;
    }
  }
}
//: MEASURE SEGMENT                                                         ://
.measurePart {
  align-items: center;
  display: flex;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }

  &__mark {
    background-color: $cold-blue;
    border-radius: 0 $water-measure-size-xs/2 $water-measure-size-xs/2 0;
    height: $water-measure-size-xs;
    width: $water-measure-size-xs * 3;

    &--large {
      border-radius: 0 $water-measure-size-xs $water-measure-size-xs 0;
      height: $water-measure-size-xs * 2;
      width: $water-measure-size-xs * 3;
    }
  }

  &__digit {
    color: $cold-blue;
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    margin-left: 10px;
    visibility: hidden;

    &--visible {
      visibility: inherit;
    }
  }

  @media only screen and (min-width: $media-md) {

    &__mark {
      border-radius: 0 $water-measure-size-md/2 $water-measure-size-md/2 0;
      height: $water-measure-size-md;
      width: $water-measure-size-md * 3;
  
      &--large {
        border-radius: 0 $water-measure-size-md $water-measure-size-md 0;
        height: $water-measure-size-md * 2;
        width: $water-measure-size-md * 3;
      }
    }

    &__digit {
      font-size: 1.2em;
    }
  }

  @media only screen and (min-width: $media-lg) {

    &__mark {
      border-radius: 0 $water-measure-size-lg/2 $water-measure-size-lg/2 0;
      height: $water-measure-size-lg;
      width: $water-measure-size-lg * 3;
  
      &--large {
        border-radius: 0 $water-measure-size-lg $water-measure-size-lg 0;
        height: $water-measure-size-lg * 2;
        width: $water-measure-size-lg * 3;
      }
    }

    &__digit {
      font-size: 1.4em;
    }
  }
}