@import 'variables.scss';
@import 'mixins.scss';

.water {
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition:
    opacity 0.5s,
    top $verticalTranslation,
    visibility 0s;
  width: 100%;
  z-index: -1;
  
  &--shake {
    animation: shake alternate;
  }

  &--back {
    background-color: $blue-dark-2;
    z-index: -3;
  }
  //&--back.water--shake { animation-delay: 200ms; }

  &--center {
    background-color: $blue-dark-3;
    z-index: -2;
  }
  //&--center.water--shake { animation-delay: 100ms; }

  &--front {
    background-color: $blue-dark-4;
  }
  &--front.water::after {
    background-color: $blue-dark-4;
    bottom: -95px;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s,
      top $verticalTranslation,
      visibility 0s 0.5s;
  }
}

.waves {
  height: 5vw;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;

  &::after {
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 90%;
    width: 100%;
    z-index: -1;
  }

  &--back { fill: $blue-dark-2; }
  &--back.water--after { fill: $blue-dark-2; }

  &--center { fill: $blue-dark-3; }
  &--center.water--after { fill: $blue-dark-3; }

  &--front { fill: $blue-dark-4; }
  &--front.water--after { fill: $blue-dark-4; }
}

.wave {
  @include flex-center;
  animation: waves 15s linear infinite;
  width: 100%;

  &--before,
  &--after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
  }
  
  &--after {
    left: 100%;
  }

  &--back {
    animation-duration: 35s;
    stroke: rgba($color: $blue, $alpha: 0.5);
  }

  &--center {
    animation-duration: 25s;
    stroke: rgba($color: $blue-light-1, $alpha: 0.5);
  }

  &--front {
    animation-duration: 15s;
    stroke: rgba($color: $blue-light-2, $alpha: 0.5);
  }

  &__svg {
    width: 100%;
    stroke: none;

    &--line {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      stroke: inherit;
      stroke-width: 0.5;
      top: 0;
    }
  }

  &__period {
    position: relative;
    width: 100%;
  }
}