@import 'variables.scss';
@import 'mixins.scss';

.graph {
  display: flex;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  
  &__measure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  &__level {
    border-radius: 0 50px 50px 0;
    color: $blue-light-3;
    font-weight: 700;
    font-size: 0.8em;
    left: 0;
    padding: 0.5em 0.8em 0.5em 2.5em;
    position: absolute;
    transform: translateY(50%);
    transition: bottom $verticalTranslation;
    z-index: -1;
  
    &--avg {
      background-color: $blue-light-1;
    }

    &--min {
      background-color: $blue-dark-1;
      color: $blue-dark-5;
    }
  
    &--negative {
      background-color: $orange-dark-2;
      color: $blue-light-3;
    }

    @media only screen and (min-width: $media-sm) {
      font-size: 0.9em;
    }

    @media only screen and (min-width: $media-md) {
      border-width: $water-measure-size-md;
      font-size: 1em;
    }

    @media only screen and (min-width: $media-lg) {
      border-width: $water-measure-size-lg;
      font-size: 1.2em;
    }
  }
}

.measurePart {
  align-items: center;
  display: flex;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }

  &__mark {
    background-color: $blue;
    border-radius: 0 $water-measure-size-xs/2 $water-measure-size-xs/2 0;
    height: $water-measure-size-xs;
    width: $water-measure-size-xs * 3;

    &--large {
      border-radius: 0 $water-measure-size-xs $water-measure-size-xs 0;
      height: $water-measure-size-xs * 2;
      width: $water-measure-size-xs * 3;
    }
  }

  &__digit {
    color: $blue;
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    margin-left: 10px;
    visibility: hidden;

    &--visible {
      visibility: inherit;
    }
  }

  @media only screen and (min-width: $media-md) {

    &__mark {
      border-radius: 0 $water-measure-size-md/2 $water-measure-size-md/2 0;
      height: $water-measure-size-md;
      width: $water-measure-size-md * 3;
  
      &--large {
        border-radius: 0 $water-measure-size-md $water-measure-size-md 0;
        height: $water-measure-size-md * 2;
        width: $water-measure-size-md * 3;
      }
    }

    &__digit {
      font-size: 1.2em;
    }
  }

  @media only screen and (min-width: $media-lg) {

    &__mark {
      border-radius: 0 $water-measure-size-lg/2 $water-measure-size-lg/2 0;
      height: $water-measure-size-lg;
      width: $water-measure-size-lg * 3;
  
      &--large {
        border-radius: 0 $water-measure-size-lg $water-measure-size-lg 0;
        height: $water-measure-size-lg * 2;
        width: $water-measure-size-lg * 3;
      }
    }

    &__digit {
      font-size: 1.4em;
    }
  }
}