@import 'variables.scss';
@import 'mixins.scss';
//| LOGO                                                                    |//
.logo {
  @include flex-center;
  max-width: ($burgerBtn-size-xs - 10px) * $logo-aspect-ratio;
  position: relative;
  width: 100%;

  &__svg {
    fill: $cold-blue;
    pointer-events: all;
    width: 100%;

    &--color {
      fill: $cold-light-blue;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }
  }

  @media only screen and (min-width: $media-md) {
    max-width: $burgerBtn-size-md * $logo-aspect-ratio;
  }
  
  @media only screen and (min-width: $media-lg) {
    max-width: $burgerBtn-size-lg * $logo-aspect-ratio;
  }
}