@import 'variables.scss';
@import 'mixins.scss';

.logo {
  @include flex-center;
  position: relative;
  width: 100%;

  &--app {
    max-width: ($burgerBtn-size-xs - 10px) * $logo-aspect-ratio;
  }

  &--login {
    justify-self: center;
    grid-area: logo;
    max-width: 300px;
  }

  &__svg {
    fill: $blue;
    pointer-events: all;
    width: 100%;

    &--color {
      fill: $blue-light-3;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }
  }

  @media only screen and (min-width: $media-md) {

    &--app {
      max-width: $burgerBtn-size-md * $logo-aspect-ratio;
    }
  }
  
  @media only screen and (min-width: $media-lg) {
    
    &--app {
      max-width: $burgerBtn-size-lg * $logo-aspect-ratio;
    }
  }
}