@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@mixin primaryButton {
  background-color: $blue-dark-3;
  border-radius: $br-items;
  box-shadow: 0 2px 4px rgba($color: $blue-dark-4, $alpha: 0.5);
  color: $blue-light-3;
  font-weight: 700;
  padding: 0.8em 0.5em;
  
  &:hover {
    background-color: $blue;    
  }
}