@import 'variables.scss';
@import 'mixins.scss';

.newUser {
  display: grid;
  grid-template-areas:
  "label label"
  "input input"
  "alert alert"
  "prev  next ";
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
  opacity: 0;
  position: absolute;
  row-gap: 20px;
  visibility: hidden;

  &--visible {
    opacity: 1;
    visibility: inherit;
  }

  @media only screen and (min-width: $media-md) {

    & {
      width: 100%;
      max-width: $newUser-box-maxWidth;
    }
  }

  &__label {
    color: $blue;
    font-weight: 700;
    font-size: 1.4em;
    grid-area: label;
    margin-bottom: 20px;
    text-align: center;

    @media only screen and (min-width: $media-md) {
  
      & {
        font-size: 1.6em;
      }
    }

    @media only screen and (min-width: $media-lg) {
  
      & {
        font-size: 1.8em;
      }
    }
  }

  &__input {
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 50px;
    color: $blue-light-2;
    font-size: 1.4em;
    grid-area: input;
    min-height: 50px;
    outline: none;
    padding: 10px 20px;
    text-align: center;

    &:focus {
      border-color: $blue-light-2;
    }

    @media only screen and (min-width: $media-md) {
  
      & {
        min-height: 60px;
      }
    }
  }

  &__alert {
    grid-area: alert;
    height: 0;
    overflow: hidden;
    transition: height $newUser-toggle;
  }

  &__alertText {
    background-color: $blue-dark-3;
    border-radius: 10px;
    line-height: 1.4;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  &__button {
    @include button;
    @include flex-center;
    fill: $blue;
    width: $burgerBtn-size-xs;

    &--prev {
      grid-area: prev;
      justify-self: start;
      
    }

    &--next {
      grid-area: next;
      justify-self: end;

    }

    &:hover {
      fill: $blue-light-2;
    }

    @media only screen and (min-width: $media-md) {
      & {
        width: $burgerBtn-size-md;
      }
    }

    @media only screen and (min-width: $media-lg) {
      & {
        width: $burgerBtn-size-lg;
      }
    }
  }

  &__svg {
    pointer-events: none;
    width: 100%;
  }
}