@import 'variables.scss';
@import 'mixins.scss';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fafafa;
  color: $cold-light-blue;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: medium;
}