@import 'variables.scss';
@import 'mixins.scss';

.stats {
  align-items: center;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  padding: $tab-offset-xs;
  width: 100%;

  &__header {
    background-color: $cold-darkest-blue;
    max-width: $tab-maxWidth;
    min-width: $tab-minWidth;
    width: 100%;
  }
  
  &__body {
    max-width: $tab-maxWidth;
    min-width: $tab-minWidth;
    width: 100%;
  }

  &__row {
    display: flex;
    
  }

  &__cell {
    padding: 8px;
    width: 50%;
    text-align: left;


    &--header {
      width: 100%;
      text-align: center;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {
      padding: $tab-offset-md;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      padding: $tab-offset-lg;
    }
  }
}