@import 'variables.scss';
@import 'mixins.scss';

.tab {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--archive {
    flex-grow: 1;
    justify-content: flex-end;
  }
  &--stats {

  }
  &--settings {
    flex-grow: 1
  }

  &__header {
    margin: 0;
  }

  &__button {
    @include button;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $cold-blue;
    fill: $cold-blue;
    width: 100%;
    padding: $header-padding-xs;

    // display: grid in buttons doesn't work correctly on Chrome
    &::before {
      content: '';
      width: $burgerBtn-size-xs;
    }

    &:hover {
      fill: $cold-light-blue;
      color: $cold-light-blue;
      background-color: lighten($cold-darkest-blue, 3%);
    }
    
    @media only screen and (min-width: $media-md) {
      padding: $header-padding-md;
    }
    
    @media only screen and (min-width: $media-lg) {
      padding: $header-padding-lg;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 1.9em;
    pointer-events: none;
  }

  &__svg {
    width: $burgerBtn-size-xs;
    pointer-events: none;
    transform: rotate(0);
    transition: transform $button-time-active;

    &--active {
      transform: rotate(135deg);
    }
  }

  &__container {
    display: flex;
    background-color: $cold-dark-blue;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height $tab-expand;
    width: 100%;

    &--js-stats { // ! delete after
      height: 500px;
    }
  }
}