@import 'variables.scss';
@import 'mixins.scss';

.tab {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--archive {
    justify-content: flex-end;
  }

  &__header {
    margin: 0;
  }

  &__button {
    @include button;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $blue;
    fill: $blue;
    width: 100%;
    padding: $header-padding-xs;

    &:active {
      fill: $blue-light-2;
      color: $blue-light-2;
      background-color: $blue-dark-3;
    }

    // display: grid in buttons doesn't work correctly on Chrome
    &::before {
      content: '';
      width: $burgerBtn-size-xs;
    }
    
    @media only screen and (min-width: $media-md) {
      padding: $header-padding-md;

      &:focus,
      &:hover {
        fill: $blue-light-2;
        color: $blue-light-2;
        background-color: $blue-dark-3;
      }
    }
    
    @media only screen and (min-width: $media-lg) {
      padding: $header-padding-lg;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 1.6em;
    pointer-events: none;
    
    @media only screen and (min-width: $media-md) {
      font-size: 2em;
    }
    
    @media only screen and (min-width: $media-lg) {
      font-size: 2.4em;
    }
  }

  &__svg {
    width: $burgerBtn-size-xs;
    padding: 5px;
    pointer-events: none;
    transform: rotateZ(0);
    transform-origin: center center;
    transition: transform $button-time-active;

    &--active {
      transform: rotateZ(135deg);
    }
    
    @media only screen and (min-width: $media-md) {
      width: $burgerBtn-size-md;
    }
    
    @media only screen and (min-width: $media-lg) {
      width: $burgerBtn-size-lg;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__container {
    display: flex;
    background-color: $blue-dark-1;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height $tab-expand;
    width: 100%;
  }
}