@import 'variables.scss';
@import 'mixins.scss';

.userProp {
  align-items: center;
  column-gap: 10px;
  display: grid;
  font-weight: 700;
  grid-template-columns: 40% 1fr auto;
  padding: $cardItem-padding;

  &:not(:last-child) {
    border-bottom: 2px solid $blue;
  }

  &--stats {
    grid-template-columns: 50% 1fr;
  }

  &--rank {
    grid-template-columns: auto 1fr auto;
  }

  &--updated {
    background-color: $blue-dark-3;
  }

  &--editMode {
    background-color: $blue-dark-2;
  }

  &__rank {
    color: $blue-light-2;

  }

  &__label {
    color: $blue-light-2;
    display: flex;
    align-items: center;
    min-height: 50px;
    font-size: 0.9em;

    &--rank {
      font-size: 1em;
      color: $blue-light-2;

    }

    &--editMode {
      color: $blue-light-2;
    }
  }

  &__value {
    font-weight: 700;
    position: relative;
    width: 100%;
    text-align: right;
  }

  &__output {
    &--weight::after { content: ' kg'; }
    &--height::after { content: ' cm'; }

    &--hidden {
      visibility: hidden;
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    color: $blue-light-2;
    height: 100%;
    font-weight: 700;
    left: 0;
    min-width: 50px;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: visible;
    }

    &::placeholder {
      color: $blue;
    }
  }

  &__edit {
    @include button;
    @include flex-center;
    fill: $blue-light-2;
    width: $cardIcon-size-xs;
    height: $cardIcon-size-xs;

    

  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__alert {
    grid-column: 1 / 4;
    height: 0;
    overflow: hidden;
    transition: height $newUser-toggle;
  }

  &__alertText {
    background-color: $blue;
    border-radius: $br-items;
    line-height: 1.4;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  @media only screen and (min-width: $media-sm) {

    & {

      &__edit {
        width: $cardIcon-size-sm;
        height: $cardIcon-size-sm;
      }
    }
  }
}