//#region [ Horizon ] COLORS
// BLUE
$blue-dark-5: #071d2c;
$blue-dark-4: #102a3d;
$blue-dark-3: #12344C;
$blue-dark-2: #164D6B;
$blue-dark-1: #2E6484;
$blue: #3f7ea0;
$blue-light-1: #549dc4;
$blue-light-2: #75b3d4;
$blue-light-3: #d3f3ff;
// WARM
$orange-dark-3: #5e2325;
$orange-dark-2: #aa494c;
$orange-dark-1: #ba6353;
$orange: #d68960;
$orange-light-1: #e2b673;
$orange-light-2: #edcf84;
$orange-light-3: #e0d6b6;
//#endregion

//#region [ Horizon ] MEDIA
$media-sm: 360px;
$media-md: 768px;
$media-lg: 1024px;
//#endregion

//#region [ Horizon ] USER LOG IN AND NEW USER
$newUser-toggle: 0.5s;
$newUser-box-maxWidth: 500px;
//#endregion

//#region [ Horizon ] BURGER BUTTON
$burgerBtn-size-xs: 45px;
$burgerBtn-size-md: 60px;
$burgerBtn-size-lg: 70px;
$burgerBtn-padding-xs: 15px;
$burgerBtn-padding-md: 17px;
$burgerBtn-padding-lg: 20px;
//#endregion

//#region [ Horizon ] PAGE HEADER
$header-padding-xs: 10px;
$header-padding-md: 20px;
$header-padding-lg: 30px;
$controls-gap-xs: 10px;
$controls-gap-md: 15px;
$controls-gap-lg: 20px;
$header-height-xs: $header-padding-xs * 2 + $burgerBtn-size-xs;
$header-height-md: $header-padding-md * 2 + $burgerBtn-size-md;
$header-height-lg: $header-padding-lg * 2 + $burgerBtn-size-lg;

$logo-aspect-ratio: 512 / 135;
//#endregion

//#region [ Horizon ] WATER
//: WATER                                                                   ://
$water-measure-size-xs: 3px;
$water-measure-size-md: 4px;
$water-measure-size-lg: 5px;
//#endregion

//#region [ Horizon ] SIDEBAR

$sidebar-width-xs: 100%;
$sidebar-width-md: 50%;
$sidebar-width-lg: 40%;
$sidebar-toggle: 0.4s;

$tab-icon-size: 45px;

//#endregion

//#region [ Horizon ] TABS
$tab-offset-xs: 20px;
$tab-offset-md: 30px;
$tab-offset-lg: 40px;

$tab-maxWidth: 360px;
$tab-minWidth: 280px;

$tab-expand: 0.6s;
//#endregion

//#region [ Horizon ] CARDS
$cardIcon-size-xs: 25px;
$cardIcon-size-sm: 30px;
$cardIcon-size-md: 35px;
$cardIcon-size-lg: 40px;

$cardItem-padding: 5px;
//#endregion

//#region [ Horizon ] TIME
$button-time-active: 0.3s;
$time-hover-effect: 0.2s;
$archive-entries-fade-time: 1s;
$time-edit-mode: 0.2s;
$time-edit-buttons: 0.5s;
$time-week-slide: 0.5s;
$time-week-entries: 0.6s;
$time-newEntry: 0.4s;
$time-alert: 0.3s;
//#endregion

$size-main-buttons: 30px;
$size-xs-archive-add-new: 100px;
$layout-xs-sm-padding: 1rem;
$br-items: 5px;
$edit-group-cols: 4;
$edit-group-col-gap: 5px;

$bezier: cubic-bezier(0.5,-0.5,0.5,1.5);