@import 'variables.scss';
@import 'animations.scss';
@import 'mixins.scss';

.water {
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition: top 1s;
  transition-timing-function: $bezier;
  transform-origin: center center;
  width: 100%;
  z-index: -1;

  &--back {
    background-color: $blue-dark-2;
    z-index: -4;
  }
  &--back.water--intro {
    background-color: $blue-dark-1;
  }

  &--center {
    background-color: $blue-dark-3;
    z-index: -2;
  }
  &--center.water--intro {
    background-color: $blue-dark-2;
  }

  &--front {
    background-color: $blue-dark-4;
  }
  &--front.water--intro {
    background-color: $blue-dark-3;
  }
  &--front.water::after {
    background-color: $blue-dark-4;
    bottom: -95px;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &--front.water--intro::after {
    background-color: $blue-dark-3;
  }
  
  &--shake {
    animation: shake;
  }
  
  &--front.water--fadeIn {
    animation:
      frontBounceIn 3s ease-in-out,
      wavesVertical 1.5s alternate infinite ease-in-out 3s;
    animation-fill-mode: forwards;
  }
  &--center.water--fadeIn {
    animation:
      centerBounceIn 3s ease-in-out 0.2s,
      wavesVertical 1.5s alternate infinite ease-in-out 3.4s;
    animation-fill-mode: forwards;
  }
  &--back.water--fadeIn {
    animation:
      backBounceIn 3s ease-in-out 0.4s,
      wavesVertical 1.5s alternate infinite ease-in-out 4s;
    animation-fill-mode: forwards;
  }

  /* &--fadeOut {
    top: 0;
  } */
}

.waves {
  height: 5vw;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;

  &::after {
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 90%;
    width: 100%;
    z-index: -1;
  }

  &--back { fill: $blue-dark-2; }
  &--back.waves--intro { fill: $blue-dark-1; }
  &--back.waves--after { fill: $blue-dark-2; }
  &--back.waves--intro.waves--after { fill: $blue-dark-1; }

  &--center { fill: $blue-dark-3; }
  &--center.waves--intro { fill: $blue-dark-2; }
  &--center.waves--after { fill: $blue-dark-3; }
  &--center.waves--intro.waves--after { fill: $blue-dark-2; }

  &--front { fill: $blue-dark-4; }
  &--front.waves--intro { fill: $blue-dark-3; }
  &--front.waves--after { fill: $blue-dark-4; }
  &--front.waves--intro.waves--after { fill: $blue-dark-3; }
}

.wave {
  @include flex-center;
  animation: waves 15s linear infinite;
  width: 100%;

  &--before,
  &--after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
  }
  
  &--after {
    left: 100%;
  }

  &--back {
    animation-duration: 35s;
    stroke: rgba($color: $blue, $alpha: 0.5);
  }

  &--center {
    animation-duration: 25s;
    stroke: rgba($color: $blue-light-1, $alpha: 0.5);
  }

  &--front {
    animation-duration: 15s;
    stroke: rgba($color: $blue-light-2, $alpha: 0.5);
  }

  &__svg {
    width: 100%;
    stroke: none;

    &--line {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      stroke: inherit;
      stroke-width: 0.5;
      top: 0;
    }
  }

  &__period {
    position: relative;
    width: 100%;
  }
}