.water {
  background-color: $cold-darkest-blue;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  transition: top 1s cubic-bezier(0.5,-0.5,0.5,1.5);
  width: 100%;
  z-index: -1;
  
  &--shake {
    animation: shake alternate;
  }

  &::after {
    content: '';
    background-color: $cold-darkest-blue;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
  }
}

//| WAVES                                                                   |//
.waves {
  position: absolute;
  top: calc((5vw - 1px) * -1);
  left: 0;
  right: 0;
  height: 5vw;
  width: 100%;
}

.wave {
  @include flex-center;
  fill: $cold-darkest-blue;
  width: 100%;
  animation: waves 15s linear infinite;

  &--before,
  &--after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
  }
  
  &--after {
    left: 100%;
  }

  &__svg {
    fill: $cold-darkest-blue;
    width: 100%;
  }
}