@import "tailwindcss";

@import "./animations.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Colors */
  /* Blue */
  --blue-dark-5: #071d2c;
  --blue-dark-4: #102a3d;
  --blue-dark-3: #12344c;
  --blue-dark-2: #164d6b;
  --blue-dark-1: #2e6484;
  --blue: #3f7ea0;
  --blue-light-1: #549dc4;
  --blue-light-2: #75b3d4;
  --blue-light-3: #d3f3ff;
  /* Orange */
  --orange-dark-3: #5e2325;
  --orange-dark-2: #aa494c;
  --orange-dark-1: #ba6353;
  --orange: #d68960;
  --orange-light-1: #e2b673;
  --orange-light-2: #edcf84;
  --orange-light-3: #e0d6b6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-dark-5: var(--blue-dark-5);
  --color-blue-dark-4: var(--blue-dark-4);
  --color-blue-dark-3: var(--blue-dark-3);
  --color-blue-dark-2: var(--blue-dark-2);
  --color-blue-dark-1: var(--blue-dark-1);
  --color-blue: var(--blue);
  --color-blue-light-1: var(--blue-light-1);
  --color-blue-light-2: var(--blue-light-2);
  --color-blue-light-3: var(--blue-light-3);
  --color-orange-dark-3: var(--orange-dark-3);
  --color-orange-dark-2: var(--orange-dark-2);
  --color-orange-dark-1: var(--orange-dark-1);
  --color-orange: var(--orange);
  --color-orange-light-1: var(--orange-light-1);
  --color-orange-light-2: var(--orange-light-2);
  --color-orange-light-3: var(--orange-light-3);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--blue);
    --foreground: var(--blue);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
