@import 'variables.scss';
@import 'mixins.scss';

.newEntry {
  @include flex-center;
  flex-direction: column;
  background-color: $blue-dark-3;
  bottom: 0;
  padding: $header-height-xs $header-height-xs $header-padding-xs $header-padding-xs;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform $time-newEntry, visibility 0s $time-newEntry;
  visibility: hidden;
  width: $sidebar-width-xs;
  z-index: 2;

  @media only screen and (min-width: $media-md) {
    padding: $header-height-md $header-height-md $header-padding-md $header-padding-md;
    width: $sidebar-width-md;
  }

  @media only screen and (min-width: $media-lg) {
    padding: $header-height-lg $header-height-lg $header-padding-lg $header-padding-lg;
    width: $sidebar-width-lg;
  }

  &--visible {
    transform: translateX(0);
    transition: transform $time-newEntry, visibility 0s;
    visibility: visible;
  }

  &__container {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "day    day "
    "date   date"
    "tenths ones";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: $tab-maxWidth;
    width: 100%;
  }

  &__day {
    grid-area: day;
  }

  &__date {
    grid-area: date;

  }

  &__day,
  &__date,
  &__message {
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__day {
    align-self: end;
    font-size: 1.8em;
    grid-area: day;
    text-transform: capitalize;
  }

  &__date {
    align-self: start;
    color: $blue;
    font-size: 1.3em;
    grid-area: date;
  }
}