@import 'variables.scss';
@import 'mixins.scss';

.entry {
  align-items: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr repeat(3, auto);
  min-height: 60px;
  padding: $cardItem-padding;
  position: relative;
  transition: background-color $time-edit-buttons;

  &--last {
    grid-template-columns: 1fr repeat(4, auto);
  }

  &--edit-mode {
    background-color: $blue-dark-2;
  }

  &:not(:last-child) {
    border-bottom: 2px solid $blue;
  }
  
  &__add {
    @include flex-center;
  }

  &__remove {
    @include button;
    @include flex-center;
    fill: $blue-light-2;
    height: $cardIcon-size-xs;
    overflow: hidden;
    padding: 0;
    transition: width $time-edit-buttons, fill $time-hover-effect;
    width: $cardIcon-size-xs;

    @media only screen and (min-width: $media-sm) {
      height: $cardIcon-size-sm;
      width: $cardIcon-size-sm;
    }

    &--hidden {
      width: 0;
    }
    
    &:hover {
      fill: $orange-dark-2;
    }
  }
  
  &__button {
    @include button;
    @include primaryButton;
    margin-top: 10px;
  }

  &__svg {
    pointer-events: none;
    width: 100%;
  }
  
  &__header {
    transition: color $time-edit-buttons;
  
    &--edit-mode {
      color: $blue-light-2;
    }
  }
  
  &__heading {
    margin: 0;
    text-align: left;
    font-weight: 700;
  
    &--day {
      font-weight: bold;
      text-transform: capitalize;
    }
  
    &--date {
      color: $blue-light-2;
      font-size: 0.85rem;
      margin-top: 3px;
    }
  }
  
  &__value {
    @include flex-center;
    background-color: $blue-light-2;
    border-radius: 50%;
    color: $blue-dark-1;
    font-weight: 700;
    font-size: 1.3em;
    height: $cardIcon-size-xs;
    margin: 0;
    width: $cardIcon-size-xs;

    &--edit-mode {
      color: $blue-dark-2;
    }
  
    @media only screen and (min-width: $media-sm) {
      height: $cardIcon-size-sm;
      width: $cardIcon-size-sm;
    }
  }
}