@import 'variables.scss';
@import 'mixins.scss';

.controls {
  bottom: 0;
  display: grid;
  gap: $controls-gap-xs;
  grid-template-columns: 1fr;
  padding: $header-padding-xs;
  position: fixed;
  right: 0;
  z-index: 1;

  &--top {
    bottom: initial;
    top: 0;

  }

  @media only screen and (min-width: $media-md) {

    & {
      padding: $header-padding-md;
      position: absolute;
      gap: $controls-gap-md;
    }
  }

  @media only screen and (min-width: $media-lg) {

    & {
      padding: $header-padding-lg;
      gap: $controls-gap-lg;
    }
  }
}