/////////////////////////////////////////////////////////////////////// COLORS 
$cold-darkest-blue: #112f44;
$cold-dark-blue: #274c66;
$cold-blue: #4a8eb2;
$cold-light-blue: #d3f3ff;

$warm-red: #aa494c;
$warm-dark-orange: #ba6353;
$warm-orange: #d68960;
$warm-light-orange: #e2b673;
$warm-yellow: #edcf84;

/////////////////////////////////////////////////////////////////////// LAYOUT 
// HEADER
$layout-xs-header-height: 64px;

$size-logo-height: 36px;
$size-xs-archive-buttons: 25px;
$size-sm-archive-buttons: 30px;

$size-xs-archive-add-new: 100px;

$layout-xs-sm-padding: 1rem;

$media-sm: 360px;
$media-md: 768px;
$media-lg: 1024px;
/////////////////////////////////////////////////////////////////// DECORATION 
$br-items: 5px;


///////////////////////////////////////////////////////////////////////// TIME 

$time-hover-effect: 0.2s;
$time-edit-mode: 0.2s;
$time-edit-buttons: 0.5s;
$time-week-slide: 0.5s;

$edit-group-cols: 4;
$edit-group-col-gap: 5px;