$color-background: #3767AD;
$color-water: #2196f3;
$color-grey: #ccc;
$color-low: rgb(221, 75, 30);
$color-medium: rgb(224, 152, 17);
$color-high: rgb(89, 240, 18);

$size-archive-buttons: 30px;

$time-hover-effect: 0.2s;