html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: medium;
  color: #fff;
}

.page-overlay {
  background-color: rgba($color: #000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}