html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $cold-light-blue;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: medium;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}