.app {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: $color-background;
  padding: 1rem;

  &__container {
    @include flex-center;
    width: 60%;
    max-width: 1200px;
    margin-top: 6rem;
    flex-direction: column;
  }

  &__button {
    border-radius: 4px;
    padding: 12px;
    min-width: 200px;
    color: #fff;
    font-size: 0.875rem;
    transition: box-shadow $time-hover-effect, background-color $time-hover-effect;

    &--add {
      font-size: 1.125rem;
      background-color: #fff;
      color: #000;
      margin-bottom: 2rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      

      &:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
      }
    }

    &--remove {
      margin-bottom: 1rem;

      &:hover {
        background-color: $color-water;
      }
    }
    
    &--archive {

      &:hover {
        background-color: $color-water;
      }
    }
  }
}

.navigation {

  &__list {
    list-style-type: none;
  }

  &__item {

  }

  &__button {

  }
}

.glass {
  @include flex-center;
  position: relative;

  &__svg {
    width: 100%;
    max-height: 400px;
    margin-bottom: 48px;
  }

  &__fill {
    fill: $color-water;
  }

  &__outline {
    fill: none;
    stroke: #fff;
    stroke-width: 10px;
  }

  &__counter {
    margin: 0;
    text-align: center;
    font-size: 7rem;
    position: absolute;
  }
}