/////////////////////////////////////////////////////////////////// NAVIGATION 
.navigation {
  flex-grow: 1;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
  }

  &__button {
    display: none;
    color: $cold-light-blue;
    padding: 0.5rem;
    border: 2px solid transparent;

    &:hover {
      border-bottom-color: $cold-light-blue;
    }
  }

  @media only screen and (min-width: $media-md) {
    & {

      &__button {
        display: block;
      }
    }
  }
}
//////////////////////////////////////////////////////////////// BURGER BUTTON 
.burger-button {
  @include flex-center;
  fill: $cold-blue;
  width: $size-logo-height;
  padding: 5px;
  transition: fill $time-hover-effect, transform $time-hover-effect;

  &--active {
    transform: rotate(90deg);
  }

  &:hover {
    fill: $cold-light-blue;
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
////////////////////////////////////////////////////////////////// MOBILE MENU 
.mobile-menu {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: $cold-dark-blue;
  z-index: 1;

  &--visible {
    visibility: visible;
  }


  &__list {

  }













}
///////////////////////////////////////////////////////////////////////// LOGO 
.logo {
  flex-grow: 1;
  display: flex;
  height: $size-logo-height;

  &__link {
    @include flex-center;
    position: relative;
  }

  &__svg {
    fill: $cold-blue;
    width: 100%;
    height: $size-logo-height;


    &--color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      fill: $cold-light-blue;
    }
  }
}