////////////////////////////////////////////////////////////////////// ARCHIVE 
.archive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $cold-dark-blue;
  font-weight: 300;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: $layout-xs-header-height $layout-xs-sm-padding $layout-xs-sm-padding;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in, visibility 0s 0.3s;

  &--visible {
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.3s ease-out, visibility 0s;
  }

  &__heading {
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: normal;
  }

  &__weeks {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
///////////////////////////////////////////////////////////////////////// WEEK 
.week {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  transform: translateX(0);
  transition: visibility 0s 1s;

  &--visible {
    visibility: visible;
    transition: visibility 0s;
  }
  &--slide-in-from-left {
    animation: slide-in-from-left 1s;
  }
  &--slide-out-to-right {
    animation: slide-out-to-right 1s;
  }
  &--slide-in-from-right {
    animation: slide-in-from-right 1s;
  }
  &--slide-out-to-left {
    animation: slide-out-to-left 1s;
  }





















  &__header {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    background-color: $cold-blue;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
  }

  &__heading {
    margin: 0;
  }

  &__button {
    display: flex;
    fill: $cold-light-blue;
    max-width: 30px;
    width: 100%;
    padding: 0;

    &--prev {

    }

    &--next {

    }

    &:hover {
      fill: $cold-dark-blue;
    }
  }

  &__svg  {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
//////////////////////////////////////////////////////////////////////// ENTRY 
.entry {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  grid-gap: 5px;
  align-items: center;
  padding: 5px;
  position: relative;

  &--last {
    grid-template-columns: 1fr repeat(4, auto);
  }

  &--edit-mode {
    background-color: $cold-darkest-blue;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $cold-blue;
  }
  
  &__button {
    margin: 0;
    padding: 0.6rem 0.8rem;
    color: $cold-light-blue;
    border-radius: 5px;
    
    &:hover {
      background-color: $cold-blue;
    }
  }
  
  &__add {
    @include flex-center;
  }

  &__remove {
    @include flex-center;
    width: $size-xs-archive-buttons;
    height: $size-xs-archive-buttons;
    overflow: hidden;
    padding: 0;
    fill: $cold-light-blue;
    transition: width $time-edit-buttons;

    &--hidden {
      width: 0;
    }
    
    &:hover {
      fill: $warm-red;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  &__header {
  
    &--edit-mode {
      color: $cold-dark-blue;
    }
  }
  
  &__heading {
    text-align: left;
    margin: 0;
  
    &--day {
      font-weight: bold;
      text-transform: capitalize;
    }
  
    &--date {
      font-size: 0.85rem;
      margin-top: 3px;
    }
  }
  
  &__value {
    @include flex-center;
    margin: 0;
    font-weight: bold;
    width: $size-xs-archive-buttons;
    height: $size-xs-archive-buttons;
    border: 2px solid $cold-light-blue;
    border-radius: 50%;
  
    @media only screen and (min-width: $media-sm) {
      width: $size-sm-archive-buttons;
      height: $size-sm-archive-buttons;
    }
  }
}
///////////////////////////////////////////////////////////////// EDITION MODE 
.edition {
  position: relative;
  display: grid;
  grid-template-columns: repeat($edit-group-cols, 1fr);
  column-gap: $edit-group-col-gap;
  overflow: hidden;
  width: $size-xs-archive-buttons;
  transition: width $time-edit-buttons;

  &--visible {
    $icons-width: $edit-group-cols * $size-xs-archive-buttons;
    $gaps-width: ($edit-group-cols - 1) * $edit-group-col-gap;
    width: $icons-width + $gaps-width;
  }

  &__button {
    @include flex-center;
    padding: 0;
    width: $size-xs-archive-buttons;
    height: $size-xs-archive-buttons;
    opacity: 0;
    visibility: hidden;
    transition: opacity $time-edit-buttons, visibility 0s $time-edit-buttons;

    &--visible {
      visibility: inherit;
      opacity: 1;
      transition: opacity $time-edit-buttons, visibility 0s;
    }

    &--edit {
      position: absolute;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: $cold-light-blue;
    pointer-events: none;
  }

  @media only screen and (min-width: $media-sm) {

    & {
      width: $size-sm-archive-buttons;

      &--visible {
        $icons-width: $edit-group-cols * $size-sm-archive-buttons;
        $gaps-width: ($edit-group-cols - 1) * $edit-group-col-gap;
        width: $icons-width + $gaps-width;
      }

      &__button {
        width: $size-sm-archive-buttons;
        height: $size-sm-archive-buttons;
      }
    }
  }
}
/////////////////////////////////////////////////////////////////// INDICATORS 
.indicator {
  @include flex-center;
  position: relative;
  width: $size-xs-archive-buttons;
  height: $size-xs-archive-buttons;
  overflow: hidden;

  @media only screen and (min-width: $media-sm) {
    width: $size-sm-archive-buttons;
    height: $size-sm-archive-buttons;
  }

  &__svg {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    fill: $warm-yellow;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity $time-edit-mode, transform $time-edit-mode;
    
    &--emo-1 { fill: $warm-red; }
    &--emo-2 { fill: $warm-dark-orange; }
    &--emo-3 { fill: $warm-dark-orange; }
    &--emo-4 { fill: $warm-orange; }
    &--emo-5 { fill: $warm-orange; }
    &--emo-6 { fill: $warm-light-orange; }
    &--emo-7 { fill: $warm-light-orange; }

    &--visible {
      opacity: 1;
      visibility: inherit;
      transform: translateX(0);
    }
  }
}
//////////////////////////////////////////////////////////////////// NEW ENTRY 
.new-entry {
  @include flex-center;
  visibility: hidden;
  grid-auto-rows: 100px;
  background-color: rgba($color: $cold-darkest-blue, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &--visible {
    visibility: visible;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, $size-xs-archive-add-new);
    grid-auto-rows: $size-xs-archive-add-new;
    grid-gap: 1rem;
  }

  &__value {
    @include flex-center;
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    color: $cold-light-blue;
    border: 6px solid $cold-light-blue;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  &__button {
    @include flex-center;
    width: 100%;
    height: 100%;
    fill: $cold-blue;

    &:hover {
      fill: $cold-light-blue;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}