/////////////////////////////////////////////////////////////////////// ARCHIVE
.archive {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-background;
  font-weight: 300;
  visibility: hidden;
  padding: 4rem 1rem 1rem;

  &--visible {
    visibility: visible;
  }

  &--on-top {
    z-index: 1;
  }

  &__overlay {
    background-color: rgba($color: #000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;

    &--visible {
      visibility: visible;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-column-gap: 1rem;
    align-items: center;
    padding: 0.4rem 0;
    border: 1px solid transparent;

    &--empty {
      text-align: center;
      font-style: italic;
      @include flex-center;
    }

    &:nth-child(even) {
      background-color: rgba($color: #fff, $alpha: 0.05);
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey;
    }
  }

  & &__item--on-top { // overriding higher specificity selectors
    background-color: darken($color-background, 30%);
    position: relative;
    z-index: 1;
    border-color: #fff;
  }

  &__date {
    margin: 0;
  }
  
  &__value {
    margin: 0;
  }
}
////////////////////////////////////////////////////////////////// EDITION MODE
.edition {
  @include flex-center;

  &__button {
    @include flex-center;
    padding: 0;
    width: $size-archive-buttons;
    height: $size-archive-buttons;

    &--hidden {
      display: none;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    pointer-events: none;
  }

  &__group {
    display: none;

    &--visible {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 5px;
    }
  }
}
//////////////////////////////////////////////////////////////////// INDICATORS
.indicator {
  display: flex;

  &__section {
    display: block;
    background-color: $color-grey;
    width: 0.3rem;
    height: $size-archive-buttons;
    border-radius: 1rem;

    &:not(:last-child) {
      margin-right: 0.3rem;
    }

    &--low {
      background-color: $color-low;
    }

    &--medium {
      background-color: $color-medium;
    }

    &--high {
      background-color: $color-high;
    }
  }
}