////////////////////////////////////////////////////////////////////// ARCHIVE 
.archive {
  flex-grow: 1;
  width: 100%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: $layout-xs-header-height;

  &__weeks {
    background-color: $cold-dark-blue;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height $time-mobmenu-expand ease-in-out;
  }
}
/*
##      ## ######## ######## ##    ##
##  ##  ## ##       ##       ##   ##
##  ##  ## ##       ##       ##  ##
##  ##  ## ######   ######   #####
##  ##  ## ##       ##       ##  ##
##  ##  ## ##       ##       ##   ##
 ###  ###  ######## ######## ##    ##
*/
///////////////////////////////////////////////////////////////////////// WEEK 
.week {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 20px;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s $time-week-slide;
  padding: 0 $layout-xs-sm-padding;

  &--visible {
    visibility: visible;
    animation-fill-mode: forwards;
    transition: visibility 0s;
  }

  &--slide-in-from-left {
    animation: slide-in-from-left $time-week-slide;
  }
  &--slide-out-to-left {
    animation: slide-out-to-left $time-week-slide;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
  &--slide-out-to-right {
    animation: slide-out-to-right $time-week-slide;
    pointer-events: none;
    animation-fill-mode: forwards;
  }
  &--slide-in-from-right {
    animation: slide-in-from-right $time-week-slide;
  }

  &__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    background-color: $cold-blue;
    border-radius: $br-items;
    padding: 5px;
    margin-bottom: 11px;
    height: 50px;
  }

  &__heading {
    margin: 0;
  }

  &__button {
    display: flex;
    visibility: hidden;
    fill: $cold-light-blue;
    max-width: 30px;
    width: 100%;
    padding: 0;
    transition: fill $time-hover-effect;

    &--visible {
      visibility: inherit;
    }

    &--prev {

    }

    &--next {

    }

    &:hover {
      fill: $cold-dark-blue;
    }
  }

  &__svg  {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
/*
######## ##    ## ######## ########  ##    ##
##       ###   ##    ##    ##     ##  ##  ##
##       ####  ##    ##    ##     ##   ####
######   ## ## ##    ##    ########     ##
##       ##  ####    ##    ##   ##      ##
##       ##   ###    ##    ##    ##     ##
######## ##    ##    ##    ##     ##    ##
*/
//////////////////////////////////////////////////////////////////////// ENTRY 
.entry {
  display: grid;
  visibility: hidden;
  opacity: 0;
  grid-template-columns: 1fr repeat(3, auto);
  grid-gap: 5px;
  align-items: center;
  padding: 5px;
  position: relative;
  border-radius: $br-items;
  margin-bottom: 11px;
  height: 50px;
  transition:
    background-color $time-edit-buttons,
    opacity 0.5s,
    visibility 0s 0.5s;

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: background-color $time-edit-buttons, opacity 0.5s, visibility 0.5s;
  }

  &--last {
    grid-template-columns: 1fr repeat(4, auto);
  }

  &--edit-mode {
    background-color: $cold-darkest-blue;
  }

  &:not(:last-child) {
    margin-bottom: 11px;

    &::after{
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      padding: 5px 0;
      border-bottom: 1px solid $cold-blue;
    }
  }
  
  &__add {
    @include flex-center;
  }

  &__remove {
    @include flex-center;
    width: $size-xs-archive-buttons;
    height: $size-xs-archive-buttons;
    overflow: hidden;
    padding: 0;
    fill: $cold-light-blue;
    transition: width $time-edit-buttons, fill $time-hover-effect;

    &--hidden {
      width: 0;
    }
    
    &:hover {
      fill: $warm-red;
    }
  }
  
  &__button {
    margin: 0;
    padding: 0.6rem 0.8rem;
    font-weight: bold;
    color: $cold-light-blue;
    border-radius: 5px;
    transition: background-color $time-hover-effect;
    
    &:hover {
      background-color: $cold-blue;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  &__header {
    transition: color $time-edit-buttons;
  
    &--edit-mode {
      color: $cold-dark-blue;
    }
  }
  
  &__heading {
    text-align: left;
    margin: 0;
  
    &--day {
      font-weight: bold;
      text-transform: capitalize;
    }
  
    &--date {
      font-size: 0.85rem;
      margin-top: 3px;
    }
  }
  
  &__value {
    @include flex-center;
    margin: 0;
    font-weight: bold;
    width: $size-xs-archive-buttons;
    height: $size-xs-archive-buttons;
    border: 2px solid $cold-light-blue;
    border-radius: 50%;
  
    @media only screen and (min-width: $media-sm) {
      width: $size-sm-archive-buttons;
      height: $size-sm-archive-buttons;
    }
  }
}
/*
##    ## ######## ##      ##    ######## ##    ## ######## ########  ##    ##
###   ## ##       ##  ##  ##    ##       ###   ##    ##    ##     ##  ##  ##
####  ## ##       ##  ##  ##    ##       ####  ##    ##    ##     ##   ####
## ## ## ######   ##  ##  ##    ######   ## ## ##    ##    ########     ##
##  #### ##       ##  ##  ##    ##       ##  ####    ##    ##   ##      ##
##   ### ##       ##  ##  ##    ##       ##   ###    ##    ##    ##     ##
##    ## ########  ###  ###     ######## ##    ##    ##    ##     ##    ##
*/
//////////////////////////////////////////////////////////////////// NEW ENTRY 
.new-entry {
  @include flex-center;
  visibility: hidden;
  grid-auto-rows: 100px;
  background-color: rgba($color: $cold-darkest-blue, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &--visible {
    visibility: visible;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, $size-xs-archive-add-new);
    grid-auto-rows: $size-xs-archive-add-new;
    grid-gap: 1rem;
  }

  &__value {
    @include flex-center;
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    color: $cold-light-blue;
    border: 6px solid $cold-light-blue;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__button {
    @include flex-center;
    width: 100%;
    height: 100%;
    fill: $cold-blue;

    &:hover {
      fill: $cold-light-blue;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
/*
######## ########  #### ######## ####  #######  ##    ##
##       ##     ##  ##     ##     ##  ##     ## ###   ##
##       ##     ##  ##     ##     ##  ##     ## ####  ##
######   ##     ##  ##     ##     ##  ##     ## ## ## ##
##       ##     ##  ##     ##     ##  ##     ## ##  ####
##       ##     ##  ##     ##     ##  ##     ## ##   ###
######## ########  ####    ##    ####  #######  ##    ##
*/
///////////////////////////////////////////////////////////////// EDITION MODE 
.edition {
  position: relative;
  display: grid;
  grid-template-columns: repeat($edit-group-cols, 1fr);
  column-gap: $edit-group-col-gap;
  overflow: hidden;
  width: $size-xs-archive-buttons;
  transition: width $time-edit-buttons;

  &--visible {
    $icons-width: $edit-group-cols * $size-xs-archive-buttons;
    $gaps-width: ($edit-group-cols - 1) * $edit-group-col-gap;
    width: $icons-width + $gaps-width;
  }

  &__button {
    @include flex-center;
    padding: 0;
    width: $size-xs-archive-buttons;
    height: $size-xs-archive-buttons;
    fill: $cold-light-blue;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity $time-edit-buttons,
      visibility 0s $time-edit-buttons,
      fill $time-hover-effect;

    &--visible {
      visibility: inherit;
      opacity: 1;
      transition:
        opacity $time-edit-buttons,
        visibility 0s,
        fill $time-hover-effect;
    }

    &--edit {
      position: absolute;
    }

    &:hover {
      fill: $cold-blue;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @media only screen and (min-width: $media-sm) {

    & {
      width: $size-sm-archive-buttons;

      &--visible {
        $icons-width: $edit-group-cols * $size-sm-archive-buttons;
        $gaps-width: ($edit-group-cols - 1) * $edit-group-col-gap;
        width: $icons-width + $gaps-width;
      }

      &__button {
        width: $size-sm-archive-buttons;
        height: $size-sm-archive-buttons;
      }
    }
  }
}
/*
#### ##    ## ########  ####  ######     ###    ########  #######  ########
 ##  ###   ## ##     ##  ##  ##    ##   ## ##      ##    ##     ## ##     ##
 ##  ####  ## ##     ##  ##  ##        ##   ##     ##    ##     ## ##     ##
 ##  ## ## ## ##     ##  ##  ##       ##     ##    ##    ##     ## ########
 ##  ##  #### ##     ##  ##  ##       #########    ##    ##     ## ##   ##
 ##  ##   ### ##     ##  ##  ##    ## ##     ##    ##    ##     ## ##    ##
#### ##    ## ########  ####  ######  ##     ##    ##     #######  ##     ##
*/
/////////////////////////////////////////////////////////////////// INDICATORS 
.indicator {
  @include flex-center;
  position: relative;
  width: $size-xs-archive-buttons;
  height: $size-xs-archive-buttons;
  overflow: hidden;

  @media only screen and (min-width: $media-sm) {
    width: $size-sm-archive-buttons;
    height: $size-sm-archive-buttons;
  }

  &--new {
    height: 100%;
    width: 100%;
  }

  &__svg {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    fill: $warm-yellow;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity $time-edit-mode, transform $time-edit-mode;
    
    &--emo-1 { fill: $warm-red; }
    &--emo-2 { fill: $warm-dark-orange; }
    &--emo-3 { fill: $warm-dark-orange; }
    &--emo-4 { fill: $warm-orange; }
    &--emo-5 { fill: $warm-orange; }
    &--emo-6 { fill: $warm-light-orange; }
    &--emo-7 { fill: $warm-light-orange; }

    &--visible {
      opacity: 1;
      visibility: inherit;
      transform: translateX(0);
    }
  }
}